<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Programmer Fox Club \o/</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <div class="container">
        <div id="branding">
            <h2>Programmer Fox Club</h2>
        </div>
        <nav>
            <ul>
                <li><a href="index">Information</a></li>
                <li><a href="index">Nutrition Store</a></li>
                <li><a href="index">Trick Center</a></li>
                <li><a href="index">Action History</a></li>
            </ul>
        </nav>
    </div>
</header>
<section class="container">
    <img src="/greenfox.png">
    <p>This is Helaku. Currently living on pizza and lemonade. He knows 2 tricks.</p>
</section>
<section class="container">
    <div id="tricks">
        <h1>Known tricks</h1>
    </div>
    <div>
        <ul>
            <li>write HTML</li>
            <li>code in Java</li>
        </ul>
    </div>
</section>
</body>
</html>