body {
    font-family: "Segoe UI";
    padding: 15px;
    color: #35424a;
    background: white;
}

.container {
    background: lightgray;
    width: 500px;
    padding: 15px;
    border-radius: 10px;
}

h1 {
    margin-top: 0px;
    padding-left: 10px;
}

table {
    border-collapse: collapse;
    padding: 10px;
}

th {
    text-align: left;
    padding: 10px;
}

td {
    padding: 10px;
    width: auto;
}

tr td:first-child {
    font-weight: bold;
}

tr td:first-child:hover ~ td{
    background: #35424a;
    color: white;
}

td:hover {
    font-weight: bold;
}

button {
    margin: 30px 0 20px 0;
    background: #35424a;
    color: white;
    height: 30px;
    width: auto;
    padding: 0 10px 0 10px;
    border: 0px;
    border-radius: 15px;
    letter-spacing: 0.1em;
    cursor: pointer;
}