body {
    font-family: "Exo 2";
    font-size: 15px;
    line-height: 1.5;
    background: white;
    padding: 0;
    margin: 0;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #35424a;
    color: white;
    padding-top: 20px;
    min-height: 50px;
    border-bottom: 2px solid lawngreen;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;

}

header a:hover{
    color: orange;
}

header ul {
    padding: 0;
    margin: 0;

}

header li {
    float: left;
    display: inline;
    padding: 0 10px 0 10px;
}

header #branding{
    float: left;
}

header #branding h2{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 6px;
}

#tricks{
    background: #35424a;
    color: white;
    width: 50%;
    border-radius: 3px;
    padding-left: 5px;
}

