<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account home page</title>
    <link rel="stylesheet" href="/styleShow.css">
</head>
<body>
<div class="container">
    <h1>Account info</h1>
    <table>
        <tr th:each="acc :${account}">
            <td th:text="${accStat.count}"></td>
            <td th:text="${acc.getName()}"></td>
            <td th:text="${acc.getBalance() + ' Zebra'}"></td>
            <td th:text="${acc.getAnimalType()}"></td>
        </tr>
    </table>
    <button onclick="location.href='/create'">Create new account</button>
</div>
</body>
</html>